<!DOCTYPE html>
<html>
  <head>
    <title>Agregar</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Agregar producto nuevo</h1>
    <form method="post" action="/agregar"> 
        Producto: <input type="text" name="name"/>
        Precio: <input type="text" name="price"/>
        <input type="submit" value="guardar"/>
    </form>
  </body>
</html>