<!DOCTYPE html>
<html>
  <head>
    <title>Buscar</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Buscar producto</h1>
    <form method="post"> 
        Producto: <input type="text" name="name"/>
        <input type="submit" value="buscar"/>
    </form>
  </body>
</html>