<!DOCTYPE html>
<html>
  <head>
    <title>ver</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Producto</h1>
    <div>
        <span><%= producto.name %></span> <span><%= producto.price %></span>       
    </div>
    <a href="/todos">regresar</a>
  </body>
</html>